<!--
including header content which is common for all pages
-->
<%- include layouts/header.ejs %>  

<!--
<h1>HOME ASISPRO</h1>
<p>HOME</p>
-->


<!--
<div id="container">
    <div class="metric">
        <div class="metric-inner">
        <header class="metric-header">
            <h1 class="metric-title">Basic Metric Visualization</h1>
        </header>
        <div class="metric-body viz-basic">
            <div class="value">
            <h1 class="primary-value">210</h1>
            <h2>cases</h2>
            </div>
        </div>
        </div>
    </div>
      
      <div class="metric">
        <div class="metric-inner">
          <header class="metric-header">
            <h1 class="metric-title">7 and 30 Day Comparison</h1>
          </header>
      
          <div class="metric-body viz-basic-with-7-and-40-day-comparison">
            <div class="value">
              <div class="current-value">
                <h1 class="primary-value">210</h1>
                <h2>cases</h2>
              </div>
              <div class="comparison_wrapper">
                <div class="left_comparison">
                  <h3 class="green">&#9660; 10%</h3>
                  <h4>7 days ago</h4>
                </div>
                <div class="right_comparison">
                  <h3 class="red">&#9650; 12%</h3>
                  <h4>30 days ago</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
      
      
      <div class="metric">
        <div class="metric-inner">
          <header class="metric-header">
            <h1 class="metric-title">Trailing 30 day line chart</h1>
          </header>
      
          <div class="metric-body viz-line-chart">
            <div class="value">
              <h1 class="primary-value">120</h1>
              <h2>cases</h2>
              <div id="line_chart" class="chart">
                line chart
              </div>
            </div>
          </div>
      
        </div>
      </div>
      
      <div class="metric">
        <div class="metric-inner">
          <header class="metric-header">
            <h1 class="metric-title">Trailing 7 day column chart</h1>
          </header>
      
          <div class="metric-body viz-column-chart">
            <div class="value">
              <h1 class="primary-value">120</h1>
              <h2>cases</h2>
              
      <div class="chart" id="column_chart">col</div> 
            </div>      
          </div>
      
        </div>
      </div>
      
      
      </div>
    -->

<!--  -->
<%- include layouts/footer.ejs %>